# Computation Libraries
numpy
scipy
Cython
pybind11

# Display Libraries
jupyter
notebook
ipykernel
ipyparallel
ipywidgets
ipympl
matplotlib

# Topological Data Analysis Libraries
gudhi
ripser

# Utilities
git_root
